<!--左侧导航开始-->
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="nav-close"><i class="fa fa-times-circle"></i>
    </div>
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span><img alt="image" class="img-circle" src="__STATIC__/img/icon_small.png" /></span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                               <span class="block m-t-xs"><strong class="font-bold">{$user->admin_name}</strong></span>
                                <span class="text-muted text-xs block">超级管理员<b class="caret"></b></span>
                                </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="login.html">安全退出</a>
                        </li>
                    </ul>
                </div>
                <div class="logo-element">H+
                </div>
            </li>
            <li>
            </li>
            <li>
                <a class="J_menuItem" href="{:url('User/ChangePsw')}"><i class="fa fa-key"></i> <span class="nav-label">修改密码</span></a>
            </li>
            <li>
                <a class="J_menuItem" href="{:url('Index/Invitation')}"><i class="fa fa-envelope"></i> <span class="nav-label">邀请管理员 </span></a>
            </li>
            <li>
                <a class="J_menuItem" href="{:url('Index/Carousel')}"><i class="fa fa-picture-o"></i> <span class="nav-label">轮播图管理 </span></a>
            </li>
            <li>
                <a class="J_menuItem" href="{:url('Index/City')}"><i class="fa fa-crosshairs"></i> <span class="nav-label">开通城市管理 </span></a>
            </li>
            <li>
                <a class="J_menuItem" href="{:url('Index/User')}"><i class="fa fa-align-justify"></i> <span class="nav-label">注册会员管理 </span></a>
            </li>
            <li>
                <a class="J_menuItem" href="{:url('Index/Forum')}"><i class="fa fa fa-bookmark-o"></i> <span class="nav-label">论坛帖子管理 </span></a>
            </li>
        </ul>
    </div>
</nav>
<!--左侧导航结束-->
