<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>We-Times网站后台管理系统 - 登录</title>


    <link rel="shortcut icon" href="__STATIC__/Hplus/favicon.ico"> <link href="__STATIC__/Hplus/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="__STATIC__/Hplus/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="__STATIC__/Hplus/css/animate.min.css" rel="stylesheet">
    <link href="__STATIC__/Hplus/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <script>if(window.top !== window.self){ window.top.location = window.location;}</script>
</head>

<body class="gray-bg">

<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>

            <h1 class="logo-name">We-Times</h1>

        </div>
        <h3>欢迎进入We-Times.club管理员系统</h3>

        <form class="m-t"  id="signupForm" method="post" action="{:url('User/Login')}">
            <div class="form-group">
                <input type="text" name="admin_name" class="form-control" placeholder="用户名" >
            </div>
            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="密码" >
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">登 录</button>

            <p class="text-muted text-center"> <a href="{:url('User/retrievepsw')}"><small>忘记密码了？</small></a> | <a href="register.html">注册一个新账号</a>
            </p>

        </form>
    </div>
</div>
<script src="__STATIC__/Hplus/js/jquery.min.js?v=2.1.4"></script>
<script src="__STATIC__/Hplus/js/bootstrap.min.js?v=3.3.6"></script>
<script src="__STATIC__/Hplus/js/content.min.js?v=1.0.0"></script>
<script src="__STATIC__/Hplus/js/plugins/validate/jquery.validate.min.js"></script>
<script src="__STATIC__/Hplus/js/plugins/validate/messages_zh.min.js"></script>
<script src="__STATIC__/Hplus/js/demo/form-validate-demo.min.js"></script>

</body>

</html>
